@model List<PaySystem.Client.Models.BillModels.AllBillsOnUser>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div class="row">
        <h2 class="text-center">Bills on @this.User.Identity.Name</h2>
        <div class="well col-md-6 col-md-offset-3">

            @foreach (var bill in Model)
            {
                <br />
                <div class="row form-group">
                    <div class="col-md-6 text-right">
                        @Html.Label("IBank: ")
                    </div>
                    <div class="col-md-6">
                        @Html.Label(bill.IBank)
                    </div>
                </div>
                <div class="row form-group">
                    <div class="col-md-6 text-right">
                        @Html.Label("Bill Type: ")
                    </div>
                    <div class="col-md-6">
                        @Html.Label(bill.BillType.ToString())
                    </div>
                </div>
                    <div class="row form-group">
                        <div class="col-md-6 text-right">
                            @Html.Label("Balance: ")
                        </div>
                        <div class="col-md-6">
                            <label>@bill.Balance</label>
                        </div>
                    </div>
                    <div class="row form-group">
                        <div class="col-md-6 text-right">
                            @Html.Label("See details: ")
                        </div>
                        <div class="col-md-6">
                            @Html.ActionLink("Details", "DetailsBill/" + @bill.BillId, "Bill")
                        </div>
                    </div>

                if (decimal.Parse(bill.Balance) == 0)
                {
                    <div class="row form-group">

                        <div class="text-center">
                            @Html.ActionLink("Delete bill", "Delete/" + @bill.BillId, "Bill", new { @class = "btn btn-danger" })
                        </div>
                    </div>
                }

                <hr />
            }
        </div>
    </div>
</body>
</html>
