@model PaySystem.Client.Models.PutMoneyModel

@{
    Layout = null;
}

<h2>PutMoney</h2>

@using (Html.BeginForm("PutMoney", "Bill", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Put money in your account.</h4>
    <hr />
            @*@Html.ValidationSummary("", new { @class = "text-danger" })*@
             <div class="form-group">
                 @Html.LabelFor(m => m.IBankOnBillFromGetMoney, new { @class = "col-md-2 control-label" })
                 <div class="col-md-10">
                     @Html.TextBoxFor(m => m.IBankOnBillFromGetMoney, new { @class = "form-control" })
                 </div>
             </div>

            <hr/>

            <div class="form-group">
                @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.IBankOnBillToSetMoney, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.IBankOnBillToSetMoney, new { @class = "form-control" })
                </div>
            </div>
            <div class="form-group">
                @Html.LabelFor(m => m.Money, new { @class = "col-md-2 control-label" })
                <div class="col-md-10">
                    @Html.TextBoxFor(m => m.Money, new { @class = "form-control" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" class="btn btn-default" value="Put money" />
                </div>
            </div>
}
